body {
    margin: 20px;
    padding: 0;
}

.text-center {
    text-align: center;
}

.search-input {
    outline: none;
    padding: 10px;
    width: 300px;
}

.search-btn {
    background-color: #008CBA;
    color: white;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 10px;
    margin-left: 20px;
    width: 120px;
}

.filter-section {
    margin: 20px 0 20px 0;
}

